.article img, .preview img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .article .three-up {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    vertical-align: top;
  }
  
  .article .two-up {
    display: inline-block;
    width: 46.5%;
    margin: 1.5%;
    vertical-align: top;
  }
  
  .article .portrait {
    max-height: 500px;
    width: auto;
  }
  
  .article .landscape, .preview {
    width: 100%;
  }
  
  .article, .preview {
    padding: 0 20px 5px 20px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
    padding-bottom: 20px;
  }
  
  .article:last-of-type, .preview:last-of-type {
    border-width: 0 0 0 0;
  }
  
  .article:first-of-type, .preview:first-of-type {
    margin-top: 35px;
  }
  
  .article-title {
    font-family: Lato, sans-serif;
    color: #213960; 
    font-size: 25px;
    font-weight: 100;
    line-height: 140%;
    text-align: center;
    margin-bottom: 10px; 
  }
  
  .article-title a {
    text-decoration: none;
    color: black;
  }
  
  .article-timestamp, .preview .category {
    font-size: 12px;
    color: #4a5050;
    text-align: center;
  }
  
  .preview .category {
    margin-bottom: 10px;
  }
  
  .preview .category a {
    text-decoration: none;
  }
  
  .preview .article-preview p {
    margin-bottom: 15px;
    display: inline;
  }
  
  .preview .article-preview a {
    color: #4a5050;
  }
  
  .article-copy, .article {
    font-size: 15px;
    color: #4a5050;
    font-weight: 100;
    line-height: 150%;
    margin-bottom: 25px;
  }
  
  .article-copy p {
    margin-bottom: 15px;
  }
  
  .article .tabbed {
    margin: 20px 0px 20px 40px;
  }
  
  .article .centered {
    text-align: center;
  }
  
  .article .cell-phone {
    margin: auto;
    width: 70%;
  }
  
  @media (max-width: 768px) {
    .article .cell-phone, .article .two-up, .article .three-up {
      width: 100%; } }
  
  .article-footer {
    font-size: 12px;
    display: inline-block;
    border-left: 4px solid #f5dbbc;
    padding: 5px;
  }
  
  .article h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .quote-emphasis{
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      text-align: center;
      font-size: 26px;
      line-height: 50px;
      border-top: 5px solid #f5dbbc;
      border-bottom: 5px solid #f5dbbc;
      padding: 30px;
      margin-bottom: 50px !important;
  }