a {color:#213960;}      /* unvisited link */
a:visited {color:#213960;}  /* visited link */
a:hover {color:#f5dbbc;}  /* mouse over link */
a:active {color:#213960;}  /* selected link */

.article a {position: relative;
  color: #4a5050;
  text-decoration: none;
  z-index: 1;}      /* unvisited link */
.article a:visited {color:#213960;}  /* visited link */
.article a:hover {color: #000}  /* mouse over link */
.article a:active {color:#213960;}   /* selected link */
.article a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #f5dbbc 55%, white 45%);  /* to make underline thicker, make the tan % higher */
  
  -webkit-transition: background-position 0.3s ;
  transition: background-position 0.3s;
  z-index: -1;}
  .article a:hover:before { background-position:0% 100%;} /* transitions tan up from bottom on  */