/* Header Styles */

.header {
    text-align: center;
    margin-bottom: 25px;
  }
  
  img {
    max-width: 100%;
  }
  
  .header img {
    width: 66%;
    max-width: 500px;
    max-height: 250px;
  }
  
  .header ul {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style-type: none;
    text-align: center;
  }
  
  .header li {
    display: inline;
  }
  
  .header li a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Lato, helvetica, sans-serif;
    font-weight: 100;
    color: #555;
    font-size: 14px;
  }
  
  .header li a.active {
    background-color: #f5dbbc;
  }
  
  .header .nav-bar a {
    transition: all .3s ease;
  }
  
  .header li a:hover {
    background-color: #ccc !important;
    color: white;
  }
  