/* Side Bar Styles */

.side-bar {
    margin-top: 30px;
    text-align: left;
  }
  
  .side-bar img {
    display: block;
    margin: auto;
  }
  
  .side-bar input {
    display: block;
    margin: auto;
  }
  
  
  .about .profile-picture {
    width: 85%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 25px;
  }
  
  .about {
    line-height: 150%;
    font-size: 15px;
    font-weight: 100;
    color: #4a5050;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  
  .side-bar .social-form, .popular-posts {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
  }
  
  .side-bar .popular-posts h3 {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Lato, helvetica;
  }
  
  .side-bar .popular-posts li {
    margin-bottom: 10px;
    font-family: Lato, helvetica;
  }
  
  .side-bar .popular-posts li a {
    text-decoration: none;
  }
  
  .side-bar .popular-posts {
    text-decoration: none;
    margin-bottom: 15px;
  }
  
  .popular-posts img {
    margin-bottom: 15px;
  }
  
  .popular-posts img:hover {
    opacity:0.5;
    transition: all .2s ease;
  }
  